---
title: "accepted"
---

<!-- font-sans max-w-[600px] mx-auto -->
<extends src="src/layouts/main.html">
  <block name="template">
    <table class="font-sans max-w-[600px] w-full mx-auto">
      <tr>
        <td>
          <table class="text-center mx-auto mt-16">
            <tr class="text-center">
              <td>
                <img src="files/ZarinDax-Horizontal-Fa-1.png" />
              </td>
            </tr>
            <table
              class="mt-20 h-[339px] mx-auto w-full rounded-2xl pb-32 relative"
              style="
                background: url(files/t-5.png);
                background-size: 95%;
                background-position: center;
                background-repeat: no-repeat;
              "
            >
              <tr>
                <td>
                  <table
                    class="w-full font-thin pb-[130px] sm:pb-[100px] xs:pb-[80px]"
                  >
                    <th class="font-thin text-sm text-white">
                      <a href="#"><img src="files/Prices.png" /></a>
                    </th>
                    <th class="font-thin text-sm text-white">
                      <a href="#"><img src="files/FAQs.png" /></a>
                    </th>
                    <th class="font-thin text-smtext-white">
                      <a href="#"><img src="files/About-Us.png" /></a>
                    </th>
                  </table>
                  <table
                    class="w-full font-thin mt-96 text-right pr-40 sm:pr-20 z-20"
                  ></table>
                </td>
              </tr>
            </table>
            <table class="w-full text-right my-16 px-16">
              <tr>
                <td class="font-bold">کاربر عزیز</td>
              </tr>
              <tr>
                <td>
                  <br />اطلاعات هویتی شما مورد تایید است با کلیک بر روی دکمه
                  ورود به حساب کاربری خود وارد شوید و مبادلات رمز ارزی خود را
                  آغاز کنید
                </td>
              </tr>
            </table>
            <table class="text-center w-full my-44">
              <tr>
                <td>
                  <a
                    href="#"
                    class="py-14 px-20 rounded-full bg-[#676767] no-underline text-white"
                  >
                    ورود به حساب کاربری
                  </a>
                </td>
              </tr>
            </table>
            <!-- <table
              class="w-full bg-[#FFFAE6] text-right rounded-xl"
              style="border: 1px solid #bb991e"
            >
              <tr>
                <td class="text-[#bb991e] py-16 text-sm">
                  لطفا هر زمان مغایرتی مشاهده کردید به ما اطلاع دهید تا در اسرع
                  وقت آن را بررسی کنیم
                </td>

                <td class="w-64 px-20 font-bold text-[#bb991e]">
                  !توجه
                  <img src="files/Caution-Icon.png" alt="notice" />
                </td>
              </tr>
            </table> -->

            <table class="my-16 w-full h-[400px]">
              <tr
                style="
                  background: url(files/Footer-Backgraound-Shapes.png);
                  background-size: 100% 80%;
                  background-position: center;
                  background-repeat: no-repeat;
                "
              >
                <td>
                  <table class="w-full pt-72">
                    <tr>
                      <td class="w-1/2 text-left px-16">
                        <img
                          src="files/Google-Play-Badge.png"
                          alt="google play"
                          width="80px"
                          class="p-4"
                        /><img
                          src="files/Group.png"
                          alt="google play"
                          width="80px"
                          class="p-4"
                        />
                      </td>
                      <td class="w-1/2 text-right px-16">
                        <a href="#" class="p-8"
                          ><img
                            width="20px"
                            src="files/twitter-1.png"
                            alt="twitter" /></a
                        ><a href="#"
                          ><img
                            class="p-8"
                            width="20px"
                            src="files/twitter-2.png"
                            alt="whatsapp" /></a
                        ><a href="#"
                          ><img
                            class="p-8"
                            width="20px"
                            src="files/twitter-3.png"
                            alt="linkedin" /></a
                        ><a href="#"
                          ><img
                            class="p-8"
                            width="20px"
                            src="files/twitter-4.png"
                            alt="instagram"
                        /></a>
                      </td>
                    </tr>
                  </table>
                  <table
                    class="w-11/12 bg-[#f6f6f6] text-black rounded-xl mx-auto my-32"
                  >
                    <tr>
                      <td>
                        <table class="w-full py-8 px-16">
                          <tr>
                            <td class="text-right">
                              <li
                                class="text-right text-xs text-black"
                                dir="rtl"
                              >
                                لطفا رمز خود را در اختیار کسی قرار ندهید
                              </li>
                              <li
                                class="text-right text-xs text-black"
                                dir="rtl"
                              >
                                اطلاعاتتان را در اختیار هیچ شخصی که ادعا می کند
                                از زرین دکس با شما تماس گرفته است قرار ندهید
                              </li>
                              <li
                                class="text-right text-xs text-black"
                                dir="rtl"
                              >
                                هیچگونه پول و رمز ارزی را برای افرادی که ادعا می
                                کنند از زرین دکس هستند ارسال نکنید
                              </li>
                              <li
                                class="text-right text-xs text-black"
                                dir="rtl"
                              >
                                برای امنیت بیشتر حسابتان از تصدیل دو عاملی
                                استفاده کنید
                              </li>
                            </td>
                            <td
                              class="text-right w-1/4 font-bold text-xs text-black"
                            >
                              :نکات ایمنی
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table class="w-full text-center">
                    <tr>
                      <td>
                        <img
                          src="files/ZarinDax-Horizontal-Fa-Inverted-1.png"
                          alt="logo footer"
                        />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
