---
title: "Account Confirmed"
---

<!-- font-sans max-w-[600px] mx-auto -->
<extends src="src/layouts/main.html">
  <block name="template">
    <table class="font-sans max-w-[600px] w-full mx-auto">
      <tr>
        <td>
          <table class="text-center mx-auto mt-16">
            <tr class="text-center">
              <td>
                <img src="images/ZarinDax-Horizontal-Fa%201.png" />
              </td>
            </tr>
            <table
              class="mt-16 mx-auto bg-[#487BFF] w-full px-4 rounded-2xl pb-32 relative"
              style="
                background: url(images/Group%205.png);
                background-size: 110% 100%;
                background-position: center;
              "
            >
              <tr>
                <td>
                  <table class="w-full font-thin py-16">
                    <th class="font-thin text-xs text-white">
                      نرخ رمز ارزها
                      <img src="images/Prices_Icon.png" />
                    </th>
                    <th class="font-thin text-sm text-white">
                      سوالات متداول
                      <img src="images/FAQs_Icon.png" />
                    </th>
                    <th class="font-thin text-xs text-white">
                      درباره ی ما
                      <img src="images/About_Icon.png" />
                    </th>
                  </table>
                  <table
                    class="w-full font-thin mt-96 text-right pr-40 sm:pr-20 z-20"
                  >
                    <td
                      class="text-4xl text-white font-bold sm:text-lg sm:absolute right-28"
                    >
                      تایید حساب کاربری
                    </td>
                  </table>
                  <table
                    class="w-full font-thin mt-20 text-right pr-40 sm:pr-20 sm:py-[20px]"
                  >
                    <td class="text-white z-20 sm:absolute right-28">
                      ایمیل حاوی یک لینک تایید حساب کاربری می باشد
                    </td>
                  </table>
                </td>
              </tr>
            </table>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
