---
title: "rejected"
---

<!-- font-sans max-w-[600px] mx-auto -->
<extends src="src/layouts/main.html">
  <block name="template">
    <table class="font-sans max-w-[600px] w-full mx-auto">
      <tr>
        <td>
          <table class="text-center mx-auto mt-16">
            <tr class="text-center">
              <td>
                <img src="images/ZarinDax-Horizontal-Fa%201.png" />
              </td>
            </tr>
            <table
              class="mt-16 mx-auto bg-[#a72d2d] w-full px-4 rounded-2xl pb-32 relative"
              style="
                background: url(images/Group%208.png);
                background-size: 100% 100%;
                background-position: center;
              "
            >
              <tr>
                <td>
                  <table class="w-full font-thin py-16">
                    <th class="font-thin text-xs text-white">
                      نرخ رمز ارزها
                      <img src="images/Prices_Icon.png" />
                    </th>
                    <th class="font-thin text-sm text-white">
                      سوالات متداول
                      <img src="images/FAQs_Icon.png" />
                    </th>
                    <th class="font-thin text-xs text-white">
                      درباره ی ما
                      <img src="images/About_Icon.png" />
                    </th>
                  </table>
                  <table
                    class="w-full font-thin mt-96 text-right pr-40 sm:pr-20 z-20"
                  >
                    <td
                      class="text-4xl text-white font-bold sm:text-lg sm:absolute right-28"
                    >
                      عدم تایید احراز هویت
                    </td>
                  </table>
                  <table
                    class="w-full font-thin mt-20 text-right pr-40 sm:pr-20 sm:py-[20px]"
                  >
                    <td class="text-white z-20 sm:absolute right-28">
                      تایید احراز هویت شما انجام نشده است
                    </td>
                  </table>
                </td>
              </tr>
            </table>
            <table class="w-full text-right my-16">
              <tr>
                <td class="font-bold">کاربر عزیز</td>
              </tr>
              <tr>
                <td>
                  <br />
                  اطلاعات هویتی شما مورد تایید نمی باشد لطفا برای بررسی و رفع
                  موارد احتمالی با همکاران پشتیبانی ما در ارتباط باشید
                </td>
              </tr>
            </table>
            <table class="text-center w-full my-44">
              <tr>
                <td>
                  <a
                    href="#"
                    class="py-14 px-20 rounded-full bg-[#676767] no-underline text-white"
                  >
                    ورود به حساب کاربری
                  </a>
                </td>
              </tr>
            </table>
            <!-- <table
              class="w-full bg-[#FFFAE6] text-right rounded-xl"
              style="border: 1px solid #bb991e"
            >
              <tr>
                <td class="text-[#bb991e] py-16 text-sm">
                  لطفا هر زمان مغایرتی مشاهده کردید به ما اطلاع دهید تا در اسرع
                  وقت آن را بررسی کنیم
                </td>

                <td class="w-64 px-20 font-bold text-[#bb991e]">
                  !توجه
                  <img src="images/Caution_Icon.png" alt="notice" />
                </td>
              </tr>
            </table> -->

            <table class="my-16 w-full h-[400px]">
              <tr
                style="
                  background: url(images/Footer_Backgraound_Shapes.png);
                  background-size: 100% 80%;
                  background-position: center;
                  background-repeat: no-repeat;
                "
              >
                <td>
                  <table class="w-full pt-72">
                    <tr>
                      <td class="w-1/2 text-left px-16">
                        <img
                          src="images/Google_Play_Badge.png"
                          alt="google play"
                          width="80px"
                          class="p-4"
                        /><img
                          src="images/Group.png"
                          alt="google play"
                          width="80px"
                          class="p-4"
                        />
                      </td>
                      <td class="w-1/2 text-right px-16">
                        <a href="#" class="p-8"
                          ><img
                            width="20px"
                            src="images/twitter%201.png"
                            alt="twitter" /></a
                        ><a href="#"
                          ><img
                            class="p-8"
                            width="20px"
                            src="images/twitter%202.png"
                            alt="whatsapp" /></a
                        ><a href="#"
                          ><img
                            class="p-8"
                            width="20px"
                            src="images/twitter%203.png"
                            alt="linkedin" /></a
                        ><a href="#"
                          ><img
                            class="p-8"
                            width="20px"
                            src="images/twitter%204.png"
                            alt="instagram"
                        /></a>
                      </td>
                    </tr>
                  </table>
                  <table
                    class="w-11/12 bg-[#f6f6f6] text-black rounded-xl mx-auto my-32"
                  >
                    <tr>
                      <td>
                        <table class="w-full py-8 px-16">
                          <tr>
                            <td class="text-right">
                              <li
                                class="text-right text-xs text-black"
                                dir="rtl"
                              >
                                لطفا رمز خود را در اختیار کسی قرار ندهید
                              </li>
                              <li
                                class="text-right text-xs text-black"
                                dir="rtl"
                              >
                                اطلاعاتتان را در اختیار هیچ شخصی که ادعا می کند
                                از زرین دکس با شما تماس گرفته است قرار ندهید
                              </li>
                              <li
                                class="text-right text-xs text-black"
                                dir="rtl"
                              >
                                هیچگونه پول و رمز ارزی را برای افرادی که ادعا می
                                کنند از زرین دکس هستند ارسال نکنید
                              </li>
                              <li
                                class="text-right text-xs text-black"
                                dir="rtl"
                              >
                                برای امنیت بیشتر حسابتان از تصدیل دو عاملی
                                استفاده کنید
                              </li>
                            </td>
                            <td
                              class="text-right w-1/4 font-bold text-xs text-black"
                            >
                              :نکات ایمنی
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <table class="w-full text-center">
                    <tr>
                      <td>
                        <img
                          src="images/ZarinDax-Horizontal-Fa-Inverted%201.png"
                          alt="logo footer"
                        />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
